<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
      <script src="static/bootstrap/Bootstrap-Confirmation-2/bootstrap-confirmation.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
             <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
		</button>
                <a class="navbar-brand" href="">PaaS Orchestrator Dashboard</a>
             </div>
	     <div class="collapse navbar-collapse" id="myNavbar">
	       <ul class="nav navbar-nav">
		 <li class="active"><a href="{{ url_for("home") }}">Home</a></li>
	       </ul>	 
	       {% if session['username'] %}
	       <ul class="nav navbar-nav">
                 <li class="active"><a href="{{ url_for("show_settings") }}">Settings</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
	         <li class="dropdown">
			 <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img class="img-circle" src="{{ session['gravatar'] }}"</src> {{ session['username'] }}<span class="caret"></span></a>
		       <ul class="dropdown-menu">
			       <!--<li><a href="https://iam-test.indigo-datacloud.eu/logout?post_logout_redirect_uri=https://cloud-90-147-75-120.cloud.ba.infn.it">Logout</a></li> -->
                         <li><a href="{{ url_for("logout") }}">Logout</a></li>
		       </ul>
	         </li>
               </ul>
	       {% endif %}
             </div>
	  </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
