{% extends "base.html" %}

{% block content %}
<div class="container">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning">
  <strong>Warning!</strong> {{ message }}
</div>
<p></p>
{% endfor %}
{% endif %}
{% endwith %}

  <br>
  <form name="tosca_template" action="{{ url_for('depcreate') }}" method='POST'>
     <div class="form-group">
       <label for="sel1">Select TOSCA Template:</label>
       <select class="js-example-basic-single js-states form-control" name="tosca_template">
          <!-- <option value="" selected disabled>-->
          <!-- <option hidden selected disabled >Select a template...</option> -->
          {% for tosca in templates %}
          <option name="tosca_template" {%if selectedTemplate is defined %}{% if tosca == selectedTemplate %}selected{% endif %}{% endif %}>{{tosca}}</option>
          {% endfor %}
       </select>
     </div>
     <button type="submit" class="btn btn-success">Configure</button>
     <br> <!-- this fix wrong dropdown menu on firefox for small container size -->
     <br> <!-- this fix wrong dropdown menu on firefox for small container size -->
  </form>

  {% if selectedTemplate is defined %}
  <h1> Template: {{selectedTemplate}} </h1>

      {% if description is defined %}
      <div class="alert alert-info">
        <strong>Description:</strong> {{description}}
      </div>
      {% endif %}

      {% if enable_config_form %}
        {% include 'config_form.html' %}
      {% else %}
        {% include 'default_form.html' %}
      {% endif %}
    
  {% endif %}
</div>

<style>
#manschedConf {
  display: none;
}
</style>

<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2({
      width: '100%' // https://github.com/select2/select2/issues/4220
    });
});
</script>

<script>
$(document).ready(function () {
    $("#depSubmit").submit(function () {
        $(".submitBtn").attr("disabled", true);
        return true;
    });
});

$(document).ready(function () {
  $("input[name='extra_opts.schedtype']").click(function() {
    if ($("#mansched").is(":checked")){
       $('#manschedConf').show();
       $('#autoschedConf').hide();
    }
    else {
	$('#manschedConf').hide();
	$('#autoschedConf').show();
    }
  });
});

//$('#checkboxSLA').change(function() {
//    $('#selectSLA').attr('disabled',!this.checked)
//});
</script>
{% endblock %}
