{% extends "base.html" %}

{% block content %}

<div class="container">

    {% include 'flashed_messages.html' %}	

    <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="font-weight-bold text-primary">
            Template: {{selectedTemplate}}
            </h4>
        </div>

        <div class="card-body">
{#            <div class="alert alert-info">#}
{#                <strong>Description:</strong> {{template['description']}}#}
{#            </div>#}

            Selected template
            <form action="{{ url_for('configure', selected_module=selected_module, selected_tosca_title=selected_tosca_title) }}">
                <input type="hidden" name="selected_module" value={{ selected_module }} />
                <select name="selected_tosca_title" class="js-example-basic-single js-states form-control" onchange="this.form.submit()">
                    {% for v in available_tosca_titles %}
                        {% if v == selected_tosca_title  %}
                            <option value="{{ v }}" selected>{{ v }}</option>
                        {% else %}
                            <option value="{{ v }}">{{ v }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
            <br style="line-height:1;"><br>

            <form id="depSubmit" action="{{ url_for('createdep', template=selectedTemplate) }}" method="post">
            {% if template['enable_config_form'] is defined and template['enable_config_form'] is sameas true %}
                {% include 'config_form.html' %}
            {% else %}
                {% include 'default_form.html' %}
            {% endif %}
            <button type="submit" class="btn btn-success submitBtn">Submit</button>
            <button id="cancelBtn" type=button class="btn btn-small btn-primary" onclick="location.href='{{ url_for('home') }}'">
                <span class="fas fa-ban mr-2"></span>Cancel</button>
            </form>
        </div>
    </div>

</div>

<style>
#manschedConf {
  display: none;
}
</style>

<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2({
      width: '100%' // https://github.com/select2/select2/issues/4220
    });
});
</script>

<script>
$(document).ready(function () {
    $("#loadToscaBtn").click(function () {
        // add spinner to button
        $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
    });
});
$(document).ready(function () {
    $("#depSubmit").submit(function () {
        //disable button on click
        $(".submitBtn").attr("disabled", true);
        // add spinner to button
        $(".submitBtn").html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
        //disable cancel too
        $("#cancelBtn").attr("disabled", true);
        $("#cancelBtn").attr("onclick", "#");
        return true;
    });
});
$(document).ready(function () {
  $("input[name='extra_opts.schedtype']").click(function() {
    if ($("#mansched").is(":checked")){
       $('#manschedConf').show();
    }
    else {
	$('#manschedConf').hide();
    }
  });
});
//$('#checkboxSLA').change(function() {
//    $('#selectSLA').attr('disabled',!this.checked)
//});
</script>
{% endblock %}
