<!-- start tabs creation section -->
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#InputValues">Input Values</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Advanced">Advanced</a></li>
</ul>
<!-- end tab creation section -->
<div class="tab-content">

    <!-- inputs -->
  <div class="tab-pane fade show active" id=InputValues>
    {% if inputs|length > 0 %}
      {% for key, value in inputs.items() %}
        <div class="form-group">
          <label for="{{key}}">{{key}}</label>
          <input {% if 'password' in key %}type="password"{% else %}type="text"{% endif %} class="form-control" id="{{key}}" name="{{key}}" value="{{value.default}}" aria-describedby="help{{key}}" {% if value.required %}required{%endif%} />
          <span id="help{{key}}" class="help-block">{{value.description}}</span>
        </div>
      {% endfor %}
    {% else %}
      <h2>No input value to submit.</h2>
    {% endif %}
  </div>
  <!-- end inputs -->

  <!-- scheduling -->
  <div class="tab-pane fade" id="Advanced">
    {% include 'scheduling.html' %}
  </div>
</div>
