{% extends "base.html" %}
{% block content %}

<style>
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

</style>

<div class="container">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning">
  <strong>Warning!</strong> {{ message }}
</div>
<p></p>
{% endfor %}
{% endif %}
{% endwith %}

  <br>
  <div class="header">
    <div class="container-fluid">
      <!-- Body -->
      <div class="header-body">
        <div class="row">
          <div class="col-md-6">
            <!-- Title -->
            <h3 class="header-title">My deployments:</h3>
          </div>
          <div class="col-md-6 text-right">
            <!-- Button -->
            <button class="btn btn-outline-secondary" onclick="location.href='{{ url_for("home", page=0) }}'"><span class="fas fa-sync"></span> Refresh</button>
            <button class="btn btn-primary" onclick="location.href='{{ url_for("depcreate") }}'"><span class="fas fa-plus"></span> New deployment</button>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->
    </div>
  </div>
  <br>


  <div id="accordion">
    {% for dep in deployments %}
      <div class="card">
      {% if "COMPLETE" in dep.status %}
        <div class="card-header text-success" style="background-color: #DFF0D8;">
      {% elif "FAIL" in dep.status %}
        <div class="card-header text-danger" style="background-color: #F2DEDE;">
      {% else %}  
        <div class="card-header text-warning" style="background-color: #FCF8E3;">
      {% endif %}
        <h6 class="collapsed card-link" data-toggle="collapse" href="#collapse{{dep.uuid}}">
          {{dep.uuid}} {{dep.status}}
        </h6>
      </div>
      <div id="collapse{{dep.uuid}}" class="collapse" data-parent="#accordion">
        <div class="card-body">
        <p><b>STATUS</b> {{dep.status}}</p>
        {% if dep.statusReason %}
        <p><b>ERROR MSG</b> {{dep.statusReason}}</p>
        {% endif %}
        <p><b>CREATED AT</b> {{dep.creationTime}}</p>
        <p><b>UPDATED AT</b> {{dep.updateTime}}</p>
        <p><b>DEPLOYED AT</b> {{dep.cloudProviderName}}</p>
        <p><b>OUTPUTS</b><pre>{{dep.outputs | tojson_pretty() | safe }}</pre></p>
        <button type=button class="btn btn-primary" onclick="location.href='{{ url_for("deptemplate", depid=dep.uuid) }}'">
           <span class="fas fa-search"></span> show template</button>
        <!-- DELETE -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_confirm_{{dep.uuid}}">
          <span class="fas fa-trash-alt"></span> delete
        </button>
        <!-- Modal DELETE-->
        <div class="modal fade" id="delete_confirm_{{dep.uuid}}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="delete_confirm_label_{{dep.uuid}}">Confirm deployment deletion</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                Do you really want to delete the deployment {{dep.uuid}}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="{{ url_for("depdel", depid=dep.uuid) }}">Delete deployment</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
  <br>
  {% if tot_pages > 1 %}
  <div class="center">
    <div id="pagination" class="pagination">
      {% for p in range(tot_pages) %}
      <a href="{{ url_for("home", page=p ) }}" {% if p == (current_page|int) %}class="active"{% endif %} >{{ p+1 }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <br>
</div>

<script>
  links = document.querySelectorAll("#pagination > a")
  links.forEach(function (item) {
    item.addEventListener('click', function () {
      //reset the color of other links
      links.forEach(function (item) {
        item.classList.remove("active")
      })
      // apply the style to the link
      this.classList.add("active")
    });
  })

</script>

{% endblock %}

