{% extends "base.html" %}
{% block content %}

<style>
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
</style>

<div class="container">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning">
  <strong>Warning!</strong> {{ message }}
</div>
<p></p>
{% endfor %}
{% endif %}
{% endwith %}
<div class=text-left>
  <h3>My deployments:</h3>
</div>
<div class="well well-small">
  <button class="btn btn-small btn-default" onclick="location.href='{{ url_for("home", page=0) }}'"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
  <button type=button class="btn btn-small btn-primary" onclick="location.href='{{ url_for("depcreate") }}'"><span class="glyphicon glyphicon-plus"></span> New deployment</button>
</div>
  <div class="panel-group" id="accordion">
    {% for dep in deployments %}
    {% if dep.status == "CREATE_COMPLETE" %}
    <div class="panel panel-success">
    {% elif "FAIL" in dep.status %}
    <div class="panel panel-danger">
    {% else %}
    <div class="panel panel-warning">
    {% endif %}
      <div class="panel-heading">
        <h4 class="panel-title">
          <a  data-toggle="collapse" data-parent="#accordion" href="#collapse{{dep.uuid}}">{{dep.uuid}} {{dep.status}}</a>
        </h4>
      </div>
      <div id="collapse{{dep.uuid}}" class="panel-collapse collapse">
        <div class="panel-body">
        <p><b>STATUS</b> {{dep.status}}</p>
        {% if dep.statusReason %}
        <p><b>ERROR MSG</b> {{dep.statusReason}}</p>
        {% endif %}
        <p><b>CREATED AT</b> {{dep.creationTime}}</p>
        <p><b>UPDATED AT</b> {{dep.updateTime}}</p>
        <p><b>DEPLOYED AT</b> {{dep.cloudProviderName}}</p>
        <p><b>OUTPUTS</b><pre> {{dep.outputs | tojson_pretty() | safe }}</pre></p>
        <button type=button class="btn btn-default" onclick="location.href='{{ url_for("deptemplate", depid=dep.uuid) }}'">
           <span class="glyphicon glyphicon-search"></span> show template</button>
	<button type=button class="btn btn-default" data-toggle="confirmation" href="{{ url_for("depdel", depid=dep.uuid) }}">
           <span class="glyphicon glyphicon-trash"></span> delete
        </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if tot_pages > 1 %}
  <div class="center">
    <div class="pagination">
      <a href="{{ url_for("home", page=0 ) }}">&laquo;</a>
      {% for p in range(tot_pages) %}
      <a href="{{ url_for("home", page=p ) }}" {% if p == (current_page|int) %}class="active"{% endif %} >{{ p+1 }}</a>
      {% endfor %}
      <a href="{{ url_for("home", page=(tot_pages-1) ) }}">&raquo;</a>
    </div>
  </div>
  {% endif %}
</div>

<script>
  links = document.querySelectorAll("a")
  links.forEach(function (item) {
    item.addEventListener('click', function () {
      //reset the color of other links
      links.forEach(function (item) {
        item.classList.remove("active")
      })
      // apply the style to the link
      this.classList.add("active")
    });
  })

</script>

<script>
  $('[data-toggle=confirmation]').confirmation({
  rootSelector: '[data-toggle=confirmation]',
  title: 'Do you really want to delete your deployment?',
  popout: true,
  btnOkClass: 'btn btn-xs btn-success',
  btnCancelClass: 'btn btn-xs btn-danger'
  });
</script>

{% endblock %}

