          <div class="form-group">
            <p><h2>Configure scheduling:</h2></p>
            <label class="radio-inline">
              <input id="autosched" type="radio" name="extra_opts.schedtype" value="auto" checked>Auto
            </label>
            <label class="radio-inline">
              <input id="mansched" type="radio" name="extra_opts.schedtype" value="man">Manual
            </label>
          </div>
          <div id="autoschedConf" class="form-group">
            <label for="keepLastAttempt">Do not delete the deployment in case of failure
              <input type="checkbox" id="keepLastAttempt" name="extra_opts.keepLastAttempt" value="">
            </label>
          </div>
          <div id="manschedConf" class="form-group">
            <label for="keepLastAttempt">Do not delete the deployment in case of failure
              <input type="checkbox" id="keepLastAttempt" name="extra_opts.keepLastAttempt" value="">
            </label><p><p>
            <label>Select a provider:</label>
            <select class="form-control" id="selectSLA" name="extra_opts.selectedSLA">
            {% for sla in slas %}
              <option name="selectedSLA" value={{sla.id}}>{{sla.sitename}}: {{sla.service_type}}</option>
            {% endfor %}
            </select>
          </div>
