<div class="form-group">
  <h3>Configure scheduling:</h3>
  <label class="radio-inline">
      <input id="autosched" type="radio" name="extra_opts.schedtype" value="auto" checked> Auto
  </label>
  {% if slas != None %}
  <label class="radio-inline">
      <input id="mansched" type="radio" name="extra_opts.schedtype" value="man"> Manual
  </label>
  {% endif %}
</div>

{% if slas != None %}
<div id="manschedConf" class="form-group">
  <p></p>
  <label>Select a provider</label>
  <select class="js-example-basic-single js-states form-control" id="selectSLA" name="extra_opts.selectedSLA">
  {% for sla in slas %}
      <option name="selectedSLA" value={{sla.id}}>{{sla.sitename}}: {{sla.service_type}}</option>
  {% endfor %}
  </select>
  <small class="form-text text-muted">
    Use providers with <b>marathon</b> enabled (ie. XXX: YYY.marathon). If you want to use GPUs with your deployments
    you should also select providers with <b>gpu_support: True</b>.
  </small>
</div>
{% endif %}

<div class="form-check">
  <input type="checkbox" class="form-check-input" id="keepLastAttempt" name="extra_opts.keepLastAttempt">
  <label class="form-check-label" for="keepLastAttempt">Do not delete the deployment in case of failure</label>
</div>

<hr>
<!-- div class="form-check">
 <input type="checkbox" class="form-check-input" id="sendEmailFeedback" name="extra_opts.sendEmailFeedback" checked="checked">
 <label class="form-check-label" for="sendEmailFeedback">Send a confirmation email when complete</label>
</div -->
<br>
