{% extends "base.html" %}
{% block content %}

<div class="container">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning">
  <strong>Warning!</strong> {{ message }}
</div>
<p></p>
{% endfor %}
{% endif %}
{% endwith %}

  <br>
  <div class="header">
    <div class="container-fluid">
      <!-- Body -->
      <div class="header-body">
        <div class="row">
          <div class="col-md-6">
            <!-- Title -->
            <h3 class="header-title">Service Level Agreements:</h3>
          </div>
          <div class="col-md-6 text-right">
            <!-- Button -->
            <button class="btn btn-small btn-outline-secondary" onclick="location.href='{{ url_for("getslas") }}'"><span class="fas fa-sync"></span> Refresh</button>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->
    </div>
  </div>
  <br>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<!-- <th>id</th>-->
        <th>Site</th>
	<th>Service Type</th>
        <th>Start date</th>
	<th>End date</th>
      </tr>
    </thead>
    <tbody>
      {% for sla in slas %}
      <tr>
	 <!-- <td>{{sla.id}}</td>-->
	 <td>{{sla.sitename}}</td>
	 <td>{{sla.service_type}}</td>
	 <td>{{sla.start_date}}</td>
	 <td>{{sla.end_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}

